page-home {
  .text-red {
    color: red;
  }
  .text-green {
    color: green;
  }
  .text-blueviolet {
    color: blue;
  }
 .item-padding-top{
  padding-top: 0px;
}
  .item-padding-bottom {
    padding-bottom: 0px;
  }
  .item-padding-bottom > h2{
    font-weight: bold;
  }
}
