<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-buttons end><button ion-fab mini end (click)="addCurrency()"><ion-icon name="add"></ion-icon></button></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-list reorder="true" (ionItemReorder)="reorderItems($event)" side="start">-->
    <!--<ion-item *ngFor="let cur of cursList">-->
    <ion-card *ngFor="let cur of cursList">
        <ion-row>
          <ion-col><h1>{{ cur.cc }}</h1></ion-col>
          <ion-col><h1>{{ cur.rate }}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{ cur.exchangedate }}</ion-col>
        </ion-row>
      </ion-card>
<!--    </ion-item>-->
<!--  </ion-list>-->
</ion-content>
